<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" style="display: block;">
  <ion-button (click)="aut_facebook()" style="color: black; font-size: 16px;">Entrar Facebook</ion-button>
  <ion-button (click)="aut_google()" style="color: black; font-size: 16px;">Entrar Google</ion-button>
</div>
</ion-content>
